/*main document*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    background-size: cover;
    margin: 0;

}

/*User login*/
.container{
    display: flex;
    position: fixed;
    flex: 1 1 100%;
    flex-direction: column;
    position: relative;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.897)), url("../img/jeans_bg.png");
    width: 100%;
    height: 700px;
    align-items: center;
}

.login-box {
    position: relative;
    transform: translate(0%,25%);
    border: 1px solid white; 
    background-color: white;  
    width: 400px;
    height: 400px;
    padding-top: 20px;
}

.login-box input[type=text], input[type=password] {
    padding: 15px;
    width: 95%;
    display: block;
    margin: 10px 10px;
    border: 1px solid grey;
    border-radius: 35px;    
    box-sizing: border-box;
}

.login-box input[type=password] {
    margin:10px 10px ;
}

.login-box input:focus,textarea:focus {
    outline: none;
}

.login-box h3 {
    padding: 10px;
    margin: 0px 10px;
}

.login-box button {
    background-color: tomato;
    color: white;
    border-radius: 3px;
    padding: 8px;
    margin: 15px 10px;
    width: 95%;
}

.login-box a {
    margin: 50px 15px;
}

.login-box a {
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(57, 57, 189);
}



/*Sign up */
#cross {
    font-size: 40px; 
    font-weight: bolder; 
    color:blueviolet;
    position: relative;
    left: 400px;
    cursor: pointer;
}

.signup-container {
    display: flex;
    position: fixed;
    flex: 1 1 100%;
    flex-direction: column;
    background: rgb(64, 64, 124);
    background-image: linear-gradient(rgb(64, 64, 124), rgb(22, 22, 24));
    width: 100%;
    height: 100%;
    align-items: center;
}

.signup-box {
    position: relative;
    transform: translate(0%,5%);
    border: 1px solid white; 
    background-color: white;  
    width: 450px;
    height: 600px;
}

#user-names input[type=text] {
    margin-bottom: 30px;
}

.signup-box input[type=text], input[type=password] {
    padding: 15px;
    width: 95%;
    display: block;
    margin: 5px 5px;
}

.signup-box input[type=password] {
    margin-bottom: 30px;
}

.signup-box input[type=text], input[type=password], input[type=radio] {
    border: 1px solid grey;
    border-radius: 35px;
    box-sizing: border-box;
}

.signup-box label, input[type=radio] {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.signup-box input:focus,textarea:focus {
    outline: none;
}

.signup-box p, h3 {
    padding: 10px;
}

.signup-box button {
    background-color: tomato;
    color: white;
    border-radius: 3px;
    padding: 8px;
    margin : 0px 10px;
    width: 95%;
}

.signup-box a {
    font-size: 12px;
    padding-right: 25px;
    padding-bottom: 15px;
    text-decoration: none;
    color: black;
}

.signup-box a:hover {
    color: rgb(57, 57, 189);
}

/*index*/
.head {
    width: 100%;
    height: 110px;
    background : linear-gradient(to bottom, #333333, rgba(51, 51, 51, 0.877));
    position:relative;
    box-sizing: border-box;
}
.head .nav {
    display: inline-block;
    position: relative;    
}
.head .nav #nav-link li {
    float: left;
    padding: 45px 50px;
    list-style-type: none;
    font-size: 20px;
}
.nav a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.664);
}


.main {
    width: 100%;
    height: 350px;
}

.footer {
    width: 100%;
    height: 400px;
    background-color: #0e0d0d;
}